* {
    box-sizing: border-box;
}
body {
    background-color: #f6f6f6;
    margin: 0;
    height: 100vh;
}

h1 {
    margin: 3% 5% 0 5%;
    border-bottom: 1px #383838 solid;
    text-align: right;
    color: #383838;
}

.projects {
    margin-top: 4%;
    margin-left: 1%;
    /* border: 1px black dashed; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    align-content: right;
}

.item-separator {
    width: 300px;
    /* height: 300px; */
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item-image {
    width: 250px;
    height: 250px;
    /* border: 1px solid darkslategray; */
    box-shadow: 6px 6px 5px 1px rgba(158, 158, 162, 0.5);
}

.item-image:hover {
    /* border: 2px black solid; */
    filter: hue-rotate(90deg);
}

img {
    width: 100%;
    height: 100%;
    /* border: 2px green solid; */
}

.item-name {
    /* font-size: 18px; */
    /* border: 2px blue solid; */
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 10%;
    font-size: larger;
}
.item-name:hover {
    /* border: 2px black solid; */
    color: blue;
    text-decoration: underline;
}

footer {
    /* align-self: flex-end; */
    float: right;
    margin: 2% 5% 1% 0;
    /* border: 2px blue solid; */
    color: lightslategray;
}
/* /////////////////////Desc Page Styling*/

.desc-container {
    /* border: 1px blue solid; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    margin: 0% 5%;
}

/* ////////////////////NAV BAR STYLING */

.nav {
    border-right: 1px darkslategray solid;
    padding-top: 2%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-size: larger;
}
#desc-nav {
    margin-right: 2%;
    margin-bottom: 10%;
    color: darkred;
    font-size: x-large;
}

.nav-projects {
    /* border-right: 1px solid darkslategray; */
    text-decoration: none;
    margin-right: 6%;
    width: 100%;
}
.nav-item {
    text-decoration: none;
    margin: 2%;
    /* border: 1px solid darkslategray; */
    color: #383838;
}

#back {
    margin-right: 2%;
    margin-top: 10%;
    font-size: x-large;
}

#back > a {
    text-decoration: none; /* no underline */
    color: navy;
}

/* //////////////// DESC COMPONENT */

.desc-item-separator {
    /* width: 300px; */
    /* height: 300px; */
    border: 1px red solid;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-self: right;
    margin-left: 15%;
    width: 65%;
}

.desc-item-image {
    width: 450px;
    height: 450px;
    border: 1px solid purple;
    box-shadow: 6px 6px 5px 1px rgba(158, 158, 162, 0.5);
}

.desc-item-name {
    border: 1px solid blue;
    text-align: right;
    padding: 2%;
    margin: 0;
    font-size: large;
}
.button {
    /* border: 4px solid PINK; */
    width: 100%;
    height: 20%;
    margin: 0;

    /* padding: 1%; */
}
button {
    width: 100%;
    height: 100%;
    font-size: x-large;
    border: none;
    color: white;
    background-color: darkgreen;
}
