* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: lightgrey;
}

body main {
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: repeat(4, 200px);
    gap: 2px;
}

.outer-box1 {
    margin: 2px;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

* .inner-box1 {
    background-color: lightseagreen;
    grid-area: 1 / 2;
}

.outer-box2 {
    margin: 2px;
    background-color: lightsalmon;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.inner-box2 {
    background-color: lightyellow;
    grid-area: 2 / 2;
}

.outer-box3 {
    margin: 2px;
    background-color: lightseagreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.inner-box3 {
    background-color: lightslategray;
    grid-area: 2 / 1;
}

.outer-box4 {
    margin: 2px;
    background-color: lightsteelblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.inner-box4 {
    background-color: lightgoldenrodyellow;
    grid-area: 1 / 1;
}
