* {
    background-color: lightcoral;
}

.authors-container {
    display: flex;
    flex-direction: row;
    /* border: 2px blue solid; */
}

.name {
    /* border: 2px blue solid; */
    margin: 0;
    text-align: right;
}

.author-tile {
    border: 2px gainsboro solid;
    margin: 2%;
    padding: 1%;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.born {
    color: whitesmoke;
    font-size: 24px;
    background-color: green;
    width: 50%;
    margin: 0;
    text-align: center;
}
.died {
    color: whitesmoke;
    font-size: 24px;
    background-color: red;
    width: 50%;
    margin: 0;
    text-align: center;
}

.life-death {
    display: flex;
    flex-direction: row;
    /* border: 2px blue solid; */
    margin: 0;
}

.books {
    color: wheat;
    font-size: 16px;
    /* border: 2px red solid; */
}

.quote-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 2px green solid; */
    margin-top: auto;
    align-items: flex-end;
}

#quote {
    /* border: 2px blue solid; */
    font-style: italic;
    margin: 0;
}

img {
    height: 125px;
    width: auto;
    /* border: 2px blue solid; */
}
