body {
    margin: 0;
    background-color: rgba(195, 229, 233, 0.6);
}

.headlines {
    margin-top: 12px;
    position: absolute;
    left: 100%;
    white-space: nowrap;
}

.headlines a {
    padding-right: 30px;
    text-decoration: none;
    color: darkblue;
    font-family: "roboto", sans-serif;
    font-size: medium;
}

#ticker {
    overflow: hidden;
    width: 100%;
    position: relative;
    border-bottom: 2px darkblue solid;
    background-color: lightgoldenrodyellow;
    height: 2em;
}

.headlines a:hover {
    color: tomato;
}
