body {
    background-color: whitesmoke;
}

.authors-container {
    display: flex;
    flex-direction: row;
    font-family: "roboto", sans-serif;
}

.name {
    margin: 0;
    text-align: right;
    color: #383838;
    font-size: xx-large;
}

.author-tile {
    box-shadow: 6px 6px 5px 1px rgba(158, 158, 162, 0.9);
    background-color: rgba(189, 178, 178, 0.7);
    /* border-radius: 20px; */

    margin: 2%;
    padding: 1%;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.born {
    color: whitesmoke;
    font-size: 24px;
    background-color: mediumseagreen;
    width: 50%;
    margin: 0;
    text-align: center;
}
.died {
    color: whitesmoke;
    font-size: 24px;
    background-color: tomato;
    width: 50%;
    margin: 0;
    text-align: center;
}

.life-death {
    display: flex;
    flex-direction: row;
    /* border: 2px blue solid; */
    margin-top: 2px;
}

.books {
    color: #383838;
    /* text-align: center; */
    margin-left: 5%;
}

.quote-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 2px green solid; */
    margin-top: auto;
    align-items: flex-end;
    font-size: medium;
}

#quote {
    /* border: 2px blue solid; */
    font-style: italic;
    margin: 0;
    padding-right: 3%;
    text-align: justify;
    font-size: small;
}

img {
    height: 125px;
    width: auto;
}
