* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
}

body main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.outer-box1 {
    margin: 2px;
    background-color: lightblue;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.inner-box1 {
    background-color: lightseagreen;
    height: 100px;
    width: 100px;
}

.outer-box2 {
    margin: 2px;
    background-color: lightsalmon;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.inner-box2 {
    background-color: lightyellow;
    height: 100px;
    width: 100px;
}

.outer-box3 {
    margin: 2px;
    background-color: lightseagreen;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.inner-box3 {
    background-color: lightslategray;
    height: 100px;
    width: 100px;
}

.outer-box4 {
    margin: 2px;
    background-color: lightsteelblue;
    height: 200px;
    width: 200px;
    display: flex;
}
.inner-box4 {
    background-color: lightgoldenrodyellow;
    height: 100px;
    width: 100px;
}
