* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: lightblue;
    height: 70px;
}

footer {
    background-color: lightseagreen;
    height: 30px;
}
