
    <h2>portfolio items</h2>
    <div class="projects">
    {{#projectList}}
            <div class="item-separator">          
            <div class="item-image">
                <a href="{{directory}}"><img src="/{{directory}}/thumbnail.png"></a>
            </div>
                <a class="item-name" href="{{directory}}">{{title}}</a>
            </div>
    {{/projectList}}  
    </div>  
    