body {
    margin: 0;
}
#headlines {
    position: absolute;
    left: 100%;
    white-space: nowrap;
}

#headlines a {
    padding-right: 30px;
}

#ticker {
    overflow: hidden;
    width: 100%;
    position: relative;
    border-bottom: 2px dimgrey solid;
    height: 1.5em;
}

.hover {
    color: blue;
    text-decoration: underline;
}
