/*To do: responsive hero image and navbar*/

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: white;
    height: 50px;
    width: 100%;
}

#logo img {
    height: 40px;
    width: auto;
    float: left;
    margin: 4px 0px 4px 4px;
}

#menu img {
    height: 50px;
    width: auto;
    padding: 4px;
    float: right;
}

.background {
    position: relative;
}

main img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    /* background-size: contain;
    background-repeat: no-repeat; */
}

.image-content {
    position: absolute;
    z-index: 1;
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(-50%); */
    text-align: center;
}

h3 {
    font-family: Geneva;
    font-size: 2.5vw;
    background-color: transparent;
    color: white;
    font-style: italic;
    position: relative;
}

#button {
    position: relative;
    background-color: yellow;
    border: 4px solid orange;
    border-radius: 50px;
    color: orange;
    font-size: 1.8vw;
    font-style: bold;
    padding: 4px 24px;
    /* min-height: 30px;
    min-width: 148 */
}

section {
    position: relative;
    background-color: lightgrey;
    padding: 3% 12% 2% 12%;
    width: 100%;
    height: fit-content;
    min-height: fit-content;
}

#secondbox {
    margin-top: 1em;
}

.copyboxes {
    position: relative;
    height: fit-content;
}

.icon {
    width: 10%;
    position: absolute;
}

h4 {
    font-size: 2.5vw;
    font-style: bold;
    color: black;
}

.copy p {
    font-size: 1.1rem;
    min-height: 3em;
}

#top-left {
    position: relative;
    width: 50%;
    padding-right: 2%;
}

#top-right {
    position: absolute;
    width: 50%;
    top: 0%;
    right: 0%;
    padding-right: 2%;
}

#bottom-left {
    position: relative;
    width: 50%;
    padding-right: 2%;
}

#bottom-right {
    position: absolute;
    width: 50%;
    top: 0%;
    right: 0%;
    padding-right: 2%;
}

.copy {
    margin-left: 12%;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.712);
    visibility: hidden;
    left: 0;
    transition: 1.5s;
    z-index: 2;
}

.side-nav {
    height: 100%;
    width: 20%;
    background-color: white;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: 1.5s;
}

#close-button {
    float: right;
}

#close {
    font-size: 25px;
    color: dimgrey;
    padding-right: 8px;
    min-height: 1em;
    width: 1em;
}

#menu-items {
    margin-top: 40%;
}

.side-nav p {
    font-size: 20px;
    margin: 2% 0 0 10%;
    padding: 3px;
}

#logout {
    font-size: 15px;
    font-style: bold;
    margin-top: 30px;
}

.on {
    transition-property: transform;
    transition-duration: 1.5s;
    transform: translateX(0%);
    visibility: visible;
}

#modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.712);
    visibility: hidden;
    /* transition: 1s; */
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#modal {
    width: 35vw;
    height: 30vh;
    border-radius: 10px;
    background-color: white;
}

#close-modal {
    float: right;
}

#close-modal-x {
    font-size: 25px;
    color: dimgrey;
    padding-right: 8px;
    min-height: 1em;
    width: 1em;
}

#modal-title {
    font-size: 20px;
    color: black;
    font-style: bold;
    margin: 10% 0 0 5%;
}

#modal-text1 {
    font-size: 15px;
    margin: 5% 5% 0 5%;
}

#modal-text2 {
    font-size: 15px;
    margin: 5% 5% 0 5%;
}

/* .modal-on {
    transition-duration: 1.5s;
    visibility: visible;
} */

@media screen and (max-width: 800px) {
    header {
        height: 40px;
        width: 100%;
    }

    #logo img {
        height: 30px;
        width: auto;
        padding-top: 2px;
    }

    #menu img {
        height: 40px;
        width: auto;
        padding: 3px;
    }

    h3 {
        font-size: 18px;
    }

    #button {
        font-size: 14px;
    }

    #top-right,
    #bottom-right {
        position: relative;
    }

    #top-right,
    #bottom-right,
    #top-left,
    #bottom-left {
        width: 100%;
    }

    .icon {
        width: 8%;
    }

    h4 {
        font-size: 22px;
    }

    .copy p {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    header {
        height: 30px;
        width: 100%;
    }

    #logo img {
        height: 25px;
        width: auto;
        padding-top: 2px;
    }

    #menu img {
        height: 30px;
        width: auto;
        padding: 2px;
    }

    main img {
        width: 400px;
        height: auto;
    }

    h3 {
        font-size: 13px;
    }

    #button {
        font-size: 12px;
    }

    h3 {
        max-height: 54px;
    }

    h4 {
        font-size: 20px;
    }

    .copy p {
        font-size: 14px;
    }
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: rgba(0, 0, 0, 0.712);
    }

    #button {
        background-color: rgba(0, 0, 0, 0.712);
        border: 4px solid black;
        color: white;
    }

    section {
        background-color: rgba(0, 0, 0, 0.712);
    }
    h4 {
        color: antiquewhite;
    }
    p {
        color: white;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.512);
    }

    .side-nav {
        background-color: rgba(0, 0, 0, 0.812);
    }

    #close {
        color: white;
    }
    .side-nav p a {
        color: white;
    }
}
