<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" class="style">
    <title>my portfolio</title>
</head>
<body>
    {{{body}}}
<footer>© sponsored by the good people at arbeits agentur</footer>
</body>
</html>