* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    margin: 0;
    position: relative;
    height: 100vh;
}

.section {
    height: 40%;
    width: 50%;
    /* border: 1px red solid; */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.textbox {
    margin: 4px;
    height: 35%;
    width: 90%;
    position: absolute;
}
.buttons {
    position: absolute;
    bottom: 45%;
    /* bottom: 100%; */
}

.validate,
.clear {
    padding: 2px 10px;
}
