* {
    /* box-sizing: border-box; */
    margin: 0;
}

body {
    background-color: lightgray;
    /* border: 2px black solid; */
    height: 100vh;
}

header {
    position: relative;
    width: 558px;
    top: 5%;
    left: 3%;
    font-size: 26px;
    font: 26px "Fira Sans", sans-serif;
    background-color: antiquewhite;
    color: darkred;
    padding-left: 3px;
    border-bottom: 1px darkred solid;
}

.board-container {
    position: absolute;
    left: 3%;
    top: 10%;
    /* border: 2px black solid; */
}

.board {
    display: flex;
    /* border: 2px rgba(0, 0, 0, 0.392) solid; */
    /* transition: 1.5s; */
}

.overlay-on {
    position: fixed;
    height: 480px;
    width: 560px;
    left: 3%;
    top: 10%;
    animation-name: reset-slidein;
    animation-duration: 2s;
    z-index: 2;
    visibility: hidden;
}

@keyframes reset-slidein {
    from {
        margin-left: -100%;
        background-color: lightslategray;
        opacity: 0;
        /* visibility: hidden; */
    }

    70% {
        margin-left: 0;
        background-color: lightslategray;
        opacity: 1;
        visibility: visible;
    }
    to {
        margin-left: -100%;
        background-color: lightslategray;
        opacity: 0;
        visibility: hidden;
    }
}

.player1 {
    transition: 1.5s;
    background-color: tomato;
}

.player2 {
    /* animation-name: slotcolor2; */
    transition: 1.5s;
    background-color: yellowgreen;
}

.slot {
    height: 80px;
    width: 80px;
    overflow: hidden;
}

.hole {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transform: translate(-30px, -30px);
    border: 38px solid lightslategray;
}

.footer {
    position: relative;
    margin-top: 1%;
    /* border: 0.5px black solid; */
}

.clear {
    color: darkred;
    font: 26px "Fira Sans", sans-serif;
    margin-right: 1%;
    border-radius: 0%;
    border: 0px antiquewhite solid;
    background-color: antiquewhite;
    border-top: 1px darkred solid;
}
.turn-indicator {
    position: absolute;
    /* border: 0.5px black solid; */
    height: 98%;
    width: 73.7%;
    top: 0;
    right: 0;
    border-top: 1px darkred solid;
}

.player1-turn {
    background-color: tomato;
    transition-delay: 1.5s;
}
.player2-turn {
    background-color: yellowgreen;
    transition-delay: 1.5s;
}

.one-turn,
.two-turn {
    position: absolute;
    width: 53%;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    font: 26px "Fira Sans", sans-serif;
    visibility: hidden;
    transition-delay: 1.5s;
    color: antiquewhite;
}

.on {
    visibility: visible;
    transition-delay: 1.5s;
}
